@tailwind base;
@tailwind components;
@tailwind utilities;

.box {
  color: white;
  background-color: black;
  min-height: 200px;
  min-width: 175px;
  padding-top: 10%;
  padding-left: 15%;
  font-size: 1.5rem;
  font-weight: 700;
}

.large_box {
  color: white;
  background-color: green;
  min-height: 200px;
  min-width: 150px;
  padding-top: 10%;
  padding-left: 15%;
  font-size: 1.5rem;
  font-weight: 700;
}

/* .box {
  color: white;
  background-color: black;
  min-height: 50vh;
  min-width: 175px;
  font-size: 1.5rem;
  font-weight: 700;
} */
